/* Gaya Umum */
body {
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

.cv-container {
    max-width: 900px;
    margin: 40px auto;
    padding: 30px;
    background-color: #3c81cf;
    box-shadow: 0 0 20px rgba(7, 7, 7, 0.1);
    border-radius: 8px;
}

/* Header dan Foto */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

.profile-info {
    flex-grow: 1;
}

.header h1 {
    color: #0e0d0d;
    margin-top: 0;
    font-size: 2.5em;
}

.header h2 {
    color: #007bff;
    font-size: 1.2em;
    margin-top: -10px;
    margin-bottom: 15px;
}

.profile-photo {
    width: 180px; /* Ukuran Foto Pas */
    height: 180px;
    border-radius: 80%; /* Membuat Foto Bulat */
    object-fit: cover;
    border: 3px solid #d5dfe9;
    margin-left: 50px;
}

/* Bagian Konten */
.section h2 {
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
    color: #161414;
    margin-top: 25px;
    margin-bottom: 15px;
}

.entry {
    margin-bottom: 20px;
}

.entry h3 {
    margin-bottom: 5px;
    color: #080808;
    font-size: 1.1em;
}

.meta {
    font-style: italic;
    color: #080808;
    margin-top: 0;
    margin-bottom: 5px;
}

ul {
    padding-left: 20px;
    margin-top: 5px;
}

hr {
    border: 0;
    border-top: 1px dashed #eee;
    margin: 20px 0;
}

/* Keahlian/Skills */
.skills-list span {
    display: inline-block;
    background-color: #e9ecef;
    color: #3069a1;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 3px;
    font-size: 0.9em;
}
